COMPOSE_PROJECT_NAME=zynervox-whatsapp
ZYNERWABA_IMAGE=miguelleonh0331/zynerwabav2:2.1.0-zynervox
WHATSAPP_BIND=127.0.0.1
WHATSAPP_PORT=3022
WHATSAPP_BASE_PATH=/zynerwabav2
WHATSAPP_DB_NAME=zynerwabav2
WHATSAPP_DB_USER=zynerwabav2
WHATSAPP_DB_PASSWORD=GENERAR_LOCALMENTE
WHATSAPP_DB_ROOT_PASSWORD=GENERAR_LOCALMENTE
WHATSAPP_ADMIN_USER=admin
WHATSAPP_ADMIN_PASSWORD=GENERAR_LOCALMENTE
WHATSAPP_SESSION_SECRET=GENERAR_LOCALMENTE
WHATSAPP_CREDENTIALS_KEY=GENERAR_LOCALMENTE
