ZYNERWABA_IMAGE=miguelleonh0331/zynerwabav2:2.0.0@sha256:b6e3ac4ba9115435b151482c6d8c06fbbfe96a572c77cc1e83778c3e68e4c624
WHATSAPP_BIND=127.0.0.1
WHATSAPP_PORT=3022
WHATSAPP_BASE_PATH=/zynerwabav2
WHATSAPP_DB_NAME=zynerwabav2
WHATSAPP_DB_USER=zynerwabav2
WHATSAPP_DB_PASSWORD=GENERAR_LOCALMENTE
WHATSAPP_DB_ROOT_PASSWORD=GENERAR_LOCALMENTE
WHATSAPP_ADMIN_USER=admin
WHATSAPP_ADMIN_PASSWORD=GENERAR_LOCALMENTE
WHATSAPP_SESSION_SECRET=GENERAR_LOCALMENTE
WHATSAPP_CREDENTIALS_KEY=GENERAR_LOCALMENTE
